@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 200;
  src: url("./assets/fonts/montserrat/Montserrat-ExtraLight.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/montserrat/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  src: url("./assets/fonts/montserrat/Montserrat-Black.ttf");
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F9F9F9; */
  background-color: #fff;
  
}

::-webkit-scrollbar {
  width: 0.7rem;
  background-color: hsl(190, 12%, 90%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(190, 12%, 75%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(190, 8%, 60%);
}

.primarySvg svg {
  fill:#121212 !important;
  color: #121212 !important;
}